Source: php-cassandra
Priority: optional
Maintainer: Philipp Heckel <philipp.heckel@gmail.com>
Build-Depends: debhelper (>=9), php-pear, cmake, libuv1, libuv1-dev, libgmp-dev
Standards-Version: 3.9.6

Package: php-cassandra
Architecture: any
Depends: php7.2, libuv1
Description: DataStax PHP Driver for Apache Cassandra
